<h1>About</h1>
<hr/>
<p>
  This is my Ruby on Rails project.
  It is about <%= link_to 'articles', articles_path %> for a blog-like website.
  I coded along with Mashrur Hossain from Udemy.
</p>
<hr/>
<%= link_to '[HOME]', root_path %>
