<h1>Home Page</h1>
<p>
  This is the home page of my awesome Alpha Log app.
</p>
<p>
  Wait a minute: was that Alpha <b>b</b>log???
</p>
<p>
  Oh well ... ¯\_(ツ)_/¯
</p>
<p>
  Click <a href="about">here</a> to learn more about this project.
</p>