<h1>Home Page</h1>
<p>
  This is the home page of my awesome Alpha Log app.
</p>
<p>
  Wait a minute: was that Alpha <b>b</b>log???
</p>
<p>
  Oh well ... ¯\_(ツ)_/¯
</p>
<p>
  Click <%= link_to 'here', articles_path %> to go to the <b>Articles Listing</b>.
</p>
<p>
  Click <%= link_to  'here', about_path %> to learn more about this project.
</p>